.input {
   width: 100%;
   border: 1px solid #b7b7b7;
   font-size: 18px;
   padding: 14px 12px;
   border-radius: 8px;
   margin-bottom: 35px;
   &:focus {
      border: 1px solid #fc7d07;
   }
}
.input::-webkit-outer-spin-button,
         .input::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
         }