.mobile-nav {
   width: 100%;
   position: fixed;
   left: 0;
   bottom: 0;
   right: 0;
   top: 0;
   height: 100%;
   background: #000;
   color: #ffffff;
   z-index: 9999;
   font-size: 20px;
   padding: 10px 15px;
   overflow: scroll;
   
      &__logo {
         width: 100%;
         display: flex;
         align-items: center;
         border-bottom: 1px solid rgba(255, 255, 255, 0.2);
         padding: 11px 16px 17px 16px;
         svg {
            margin-left: auto;
            width: 35px;
         }
         img {
            width: 44px;
         }
         h4 {
            margin-left: 10px;
            font-size: 20px;
         }
      }
      &__city {
         margin-left: 50px;
         padding: 20px 0 10px 0;
         
         position: relative;
         display: flex;
         flex-direction: column;
         img {
            position: absolute;
            left: -35px;
            top: 17px;
         }
         span {
            font-size: 14px;
            opacity: 0.4;
            margin-top: 5px;
         }
         
      }
      &__rating {
         padding: 10px 0 20px 0;
         margin-left: 50px;
         p {
            margin-left: 12px;
            img {
               &:nth-last-child(1) {
                 margin-left: 10px;
               }
               margin-top: 2px;
               width: 19px;
               margin-right: 1px;
            }
         }
         img {
            float: right;
            
         }
      }
      &__menu {
         padding: 30px 0;
         border-top: 1px solid rgba(255, 255, 255, 0.2);
         border-bottom: 1px solid rgba(255, 255, 255, 0.2);
         
         li {
            font-size: 20px;
            margin-bottom: 33px;
            margin-left: 50px;
            a {
               font-size: 20px;
               color: white;
            }
            &:nth-last-child(1) {
               margin-bottom: 5px;
            }
            &:active {
               color: rgb(187, 187, 187);
            }
         }
      }
      &__call {
         display: flex;
         flex-direction: column;
         margin-left: 50px;
         margin-top: 20px;
         p {
            margin-bottom: 5px;
           img {
              margin-right: 10px;
           }
           a {
              color: white;
           }
         }
         span {
            font-size: 14px;
            opacity: 0.4;
            margin-left: 40px;
            margin-top: -5px;
         }
      }
  
   
}

@media (max-width: 420px) { 
   .mobile-nav {
      
      font-size: 19px;
      padding: 10px 15px;
      overflow: scroll;
      
         &__logo {
            padding: 11px 14px 17px 14px;
         }
         &__city {
            padding: 20px 0 10px 0;
            span {
               font-size: 13px;
            }
         }
         &__rating {
            padding: 10px 0 20px 0;
            margin-left: 50px;
            p {
               margin-left: 10px;
               img {
                  &:nth-last-child(1) {
                    margin-left: 5px;
                  }
                  width: 17px;
                  margin-right: 0px;
               }
            }
         }
         &__menu {
            padding: 17px 0;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            li {
               margin-bottom: 22px;
               margin-left: 50px;
               &:nth-last-child(1) {
                  margin-bottom: 5px;
               }
            }
         }
         &__call {
            display: flex;
            flex-direction: column;
            margin-left: 50px;
            margin-top: 20px;
            p {
               margin-bottom: 5px;
              img {
                 margin-right: 10px;
              }
            }
            
            span {
               font-size: 14px;
               opacity: 0.4;
               margin-left: 40px;
               margin-top: -5px;
            }
         }
     
      
   }
 }