.mobileCart {
   width: 62px;
   height: 62px;
   padding: 15px;
   border-radius: 50%;
   position: fixed;
   bottom: 0;
   background: white;
   right: 15px;
   bottom: 10px;
   box-shadow:  0px 10px 170px;
   span {
      min-width: 21px;
      height: 21px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      padding-top: 3px;
      background: #fc7d07;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
      color: white;
   }
   svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
  
}
